@import '~@src/styles/variables.styl'

.con
    position relative
    padding-left: .5rem
    font-size:32px;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:45px;
.con:before
    content: ''
    position absolute
    left 0
    height: 70%;
    width: 9rpx;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
    top: 0;
    background: $primaryColor

