@import './variables';
@import './box';
@import './text';
@import './position';
@import './wx-components';
@import '~@src/assets/iconfont/iconfont.css'

page {
    background-color: $body
    font-family:$primaryFamily

}
.radio-size {
    font-size: 10px
    }
.bottom-btn {
    position fixed
    bottom 3rem
    left 0 
    right 0 
    margin auto
    }
.search-input {
    border solid 1px $grey;
    border-radius: 2rem
    // width: 100%
    padding: .5rem 1rem
    margin: .3rem 0
    }
.image {
    height 3rem
    width:  3rem
    margin: 0
    // background: $lightGrey
    }
.hidden {
    visibility hidden
    }

.tab_bar__bottom {

     margin-bottom 100px

    }
.width30 {
    width: 30%
    }
.width50 {
    width: 50%
    }
.width80 {
    width: 80%
    }