.label {
     
    font-size:32px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    line-height:30px;
    color: #333
}
.selector-text {
    font-family: PingFangSC-Regular;
    font-size: 30px;
    // color: #555;
    color: #999;

    line-height: 32px;
}

.holder_right {
    text-align: right 
    }
.list_input 
    text-align: right 
.pre_wrap
    white-space: pre-wrap
.white
  color white