
.margintb10 {
    margin: .5rem 0!important
}
.margintb20 {
    margin: 20px 0!important
}
.marginlr1rem {
     margin: 0 1rem!important
    }

.padding1rem {
    padding: 1rem
    }
.padding-dot-5rem {
    padding: .5rem
    }
.bottom-line {
    border-bottom: solid 1px $lightGrey;
}
.paddingtb1rem {
    padding: 1rem 0

    }
.paddinglr2rem {
    padding: 0 2rem

    }
.paddinglr1rem {
    padding: 0 1rem

    }
.border-box{
    box-sizing:   border-box
    }